<!-- templates/base.html -->

<!--<link rel="stylesheet" href="base-style.css">-->

{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; http://127.0.0.1:8000/accounts/profile" />
<!--    <meta http-equiv="refresh" content="0; http://192.168.2.234:8080/accounts/profile" />-->

{% else %}
<p>You are not logged in.</p>
Don't have an account? <br/>
<a href="http://127.0.0.1:8000/signup">Signup here</a>
<hr/>
<!--    <a href="http://192.168.2.234:8080/signup">Signup here</a>-->
{% block content %}
{% endblock content %}
<hr/>
{% endif %}
