<head><meta http-equiv="refresh" content="30"/></head>
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
<h1>Groups</h1>
{% for element in grp %}
    <a href="/{{element.group.group_name}}/grp">{{element.group.group_name}} </a><br/>
{% endfor %}
<hr/>
<br/>
<a href="/grp_find">Join groups</a>
<hr/>
{% if bol %}
<form action="/grp_create" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="text" name="grp_name" value="group_name"><br/>
    <input type="radio" name="closed" value="yes">closed group<br/>
    Price <input type="number" name="price" value="0"><br/>
    <input type="radio" name="closed" value="no">open group<br/>
    <input type="submit" value="create_group">
</form>
{% else %}
<br/>
<form action="/grp_create" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="text" name="grp_name" value="group_name"><br/>
    <input type="radio" name="closed" value="no">open group<br/>

    <input type="submit" value="create_group">
</form>
{% endif %}
<br/>
<br/>
<br/>
<hr/>
<a href="/accounts/profile">Go to Home</a>
