{{ user.authenticateuser }}
<table style="width:100%;">
    <td style="text-align:center;">
        <h3><a href="timeline.html">{{ user.username }}</a></h3>
        <hr/>
        <p><a href="about.html">About</a></p>
        <hr/>
        <p><a href="FriendList.html">Friends</a></p>
        <hr/>
        <p><a href="Groups.html">Groups</a></p>
        <hr/>
        <p><a href="messenger.html">MessageBox</a></p>
        <hr/>
        <p><a href="settings">Settings</a></p>
        <hr/>
        <p><a href="/{{ user.username }}/ewallet/" >ewallet</a></p>
        <hr/>
        <p><a href="/{{ user.username }}/logoutuser/">logout</a></p>
        <hr/>
    </td>
    <td style="text-align:center;">
        <p>
        <form action="/{{user.username}}/post" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="text" name="timeline_post" value="input text"><br/>
            <input type="submit" value="post">
        </form>
        </p>
        {% for elem in posts %}
            <p>
                {{elem.post}}
            <hr/>
            </p>
        {% endfor %}
    </td>

    <td style="text-align:center;">
        {% for name in reqs %}
            <p>{{name}} <a href="/{{name}}/accept">accept</a>  <a href="/{{name}}/decline">decline</a></p>
        {% endfor %}
        {% if not reqs %}
            <p> No new friend requests </p>
        {% endif %}
    </td>
</table>
