<table style="width:100%;">
    <td style="text-align:center;">
        <p>
        <h3>{{ user.name }}</h3>
        <hr/>
        <h4>Profile info:</h4>
        <h5>{{user.username}}<h5/>
        <h5> Born on {{user.Birthday}} <h5/>
            <h5>{{user.email}}<h5/>

            {% for name in reqs %}
                {% if name == user.username %}
                    <p><a href="/{{user.username}}/send_req">send request</a></p>
                {% endif %}
            {% endfor %}

    </td>
    <td style="text-align:center;">
        {% if post %}
            <p>
            <form action="/{{user.username}}/frd_post" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="text" name="timeline_post" value="input text"><br/>
                <input type="submit" value="post">
            </form>
            </p>
        {% endif %}
        {% if pub or is_friend %}
            {% for elem in data %}
            {% if elem.selfp %}
                {{elem.from_t.username}}
            {% else %}
                {{elem.from_t.username}}->{{elem.to_t.username}}
            {% endif %}
            <p>
                {{elem.post}}
            <hr/>
            </p>
            {% endfor %}
        {% endif %}
    </td>

    <td style="text-align:center;">
        <pre><p> </p></pre>
    </td>
</table>

<a href="/accounts/profile">Go to Home</a>
